{% extends 'base.html' %}

{% block content %}

  
<center><h2>Crear Nueva Tienda</h2>
    <form method="post" id="tiendaForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Guardar Tienda</button>
        <!--<a href="{% url 'tienda_changelist' %}">Crear Nuevo</a>-->
      </form>
</center>
  

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_region").change(function () {
      var url = $("#tiendaForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var regionID = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'idRegion': regionID      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_ciudad").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}